{% extends "base.html" %}

{% block content %}
    <h1>Update</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=32) }}<br>
            {% for error in form.id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hourly_pay.label }}<br>
            {{ form.hourly_pay(size=32) }}<br>
            {% for error in form.hourly_pay.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hours_worked.label }}<br>
            {{ form.hours_worked(size=32) }}<br>
            {% for error in form.hours_worked.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.allowance.label }}<br>
            {{ form.allowance(size=32) }}<br>
            {% for error in form.allowance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.deduction.label }}<br>
            {{ form.deduction(size=32) }}<br>
            {% for error in form.deduction.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
